body {
    margin: 0;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    margin: 0;
    height: 100vh;
    list-style-type: none;
    text-align: center;
    font: 40px Tahoma;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 275px;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


li{
    min-height: 100px;
    min-width: 100px;
    line-height: 100px;
    background-color: blue;
    margin: 10px;
    text-align: center;
}